﻿@using Estoque_Rodrigo.Models
@model ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Use another service to log in.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>Não há serviços de autenticação externos configurados. Veja <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
            Para obter detalhes sobre a configuração deste aplicativo ASP.NET para oferecer suporte ao logon através de serviços externos.</p>
        </div>
    }
    else
    {
        using (Html.BeginForm(Model.Action, "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                @foreach (AuthenticationDescription p in loginProviders)
                {
                    <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title=Efetue login usando sua conta @p.Caption">@p.AuthenticationType</button>
                }
                </p>
            </div>
        }
    }
}
