﻿@{
    ViewBag.Title = "ConfirmaConta";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Obrigado por confirmar sua conta. Please @Html.ActionLink("Clique aqui para Logar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
