﻿@{
    ViewBag.Title = "Senha Perdida Confirmação";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Verifique seu e-mail para redefinir sua senha.
    </p>
</div>
	
