﻿@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Sua senha foi alterada. Por favor @Html.ActionLink(Clique aqui para Logar", "Login", "Conta", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
