﻿@model IEnumerable<Estoque_Rodrigo.Client>

@{
    ViewBag.Title = "Clients List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.title</h2>

<p>
    @Html.ActionLink("Register New Client", "RegisterView")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEP)
        </th>
     
        @*<th>
            @Html.DisplayNameFor(model => model.TipoEmpresa)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CEP)
        </td>
       
        @*<td>
            @Html.DisplayFor(modelItem => item.CompanyType)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "RegisterView", new { id=item.Id }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @if ((bool)item.InActive)
            {
            @Html.ActionLink("Activate", "Activate", new { id = item.Id })
            }
            else
            {
                @Html.ActionLink("Inactivate", "InActivate", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>
