﻿@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron">
    <h2>Estoque Rodrigo ... as easy as ABC</h2>
    
    <p>This Next Generation Inventory Management System is an Integrated Suite of Tools that will Enhance and Simplify your Product Management Process.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <p><h3><a href="@Url.Action("Index", "Home")"></a></h3></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Item Management</h2>
        <p>
Gerencie os itens que você vende, independentemente de possuí-los, se estão em consignação ou se o inventário em excesso do fornecedor        </p>
       @Html.ActionLink("Learn more about Item Management", "Item", "Home")
    </div>
    <div class="col-md-4">
        <h2>Gerenciamento de Vendas</h2>
        <p>Gerencie suas atividades de vendas desde o contato inicial com o cliente por meio de picking e envio do armazém.</p>
        @Html.ActionLink("Learn more about Sales Activity Management", "Sales", "Home")


    </div>
    <div class="col-md-4">
        <h2>Purchasing Management</h2>
        <p>Gerencie os produtos que você compra individualmente ou pelo caminhão. Rastrear itens de remessa, devoluções e até mesmo inventário externo", "Purchasing", "Home")
   </div>
</div>
